/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.dropdown-submenu {
    position: relative;
  }


.dropdown-submenu>a:after {
    content: "\f0da"; /* f054 */
    float: right;
    border: none;
    font-family: 'FontAwesome'; 
}
  
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSES
  * ==========================================
  *
  */
  
  body {
    background: #4568DC;
    background: -webkit-linear-gradient(to bottom, #4568DC, #B06AB3);
    background: linear-gradient(to bottom, #4568DC, #B06AB3);
    min-height: 100vh;
  }
  
  code {
    color: #B06AB3;
    background: #fff;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
  }
  
  @media (min-width: 991px) {
    .dropdown-menu {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }